body {
  overscroll-behavior: none;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus,
.no-focus-outline select:focus {
  outline: none;
}

.no-focus-outline a:focus-visible,
.no-focus-outline button:focus-visible,
.no-focus-outline input:focus-visible,
.no-focus-outline select:focus-visible {
  outline: dashed 1px rgb(110, 110, 110, 0.625);
  background: rgb(110, 110, 110, 0.625);
}

::selection {
  background: rgb(110, 110, 110, 0.575);
}

::-moz-selection {
  background: rgb(110, 110, 110, 0.575);
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
  font-size: small;
}
