body {
  overscroll-behavior: none;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

.custom-scrollbar {
  scrollbar-color: rgb(128, 128, 128, 0.5) rgb(110, 110, 110, 0);
  scrollbar-width: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 15px;
  transition: 0.15s;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(110, 110, 110, 0);
  border-style: solid;
  border-left-color: rgb(128, 128, 128, 0.4);
  border-right-color: rgb(128, 128, 128, 0);
  border-width: 0px;
  border-left-width: 1px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128, 0.5);
  border-radius: 9px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 128, 128, 0.8);
  border-radius: 8px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 8px;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus,
.no-focus-outline select:focus {
  outline: none;
}

.no-focus-outline a:focus-visible,
.no-focus-outline button:focus-visible,
.no-focus-outline input:focus-visible,
.no-focus-outline select:focus-visible {
  outline: dashed 1px rgb(110, 110, 110, 0.625);
  background: rgb(110, 110, 110, 0.625);
}

::selection {
  background: rgb(110, 110, 110, 0.575);
}

::-moz-selection {
  background: rgb(110, 110, 110, 0.575);
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
  font-size: small;
}
