body {
  overscroll-behavior: none;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

.custom-scrollbar {
  scrollbar-color: rgb(128, 128, 128, 0.5) rgb(0, 0, 0, 0);
  scrollbar-width: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 15px;
  transition: 0.15s;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0);
  border-style: solid;
  border-left-color: var(--theme-ui-colors-muted);
  border-right-color: rgb(0, 0, 0, 0);
  border-width: 0px;
  border-left-width: 1px;
  border-right-width: 1px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128, 0.5);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 4px;
  border-left-width: 5px;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 128, 128, 0.8);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 4px;
  border-left-width: 5px;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: rgb(0, 0, 0, 0);
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus,
.no-focus-outline select:focus {
  outline: none;
}

.no-focus-outline a:focus-visible,
.no-focus-outline button:focus-visible,
.no-focus-outline input:focus-visible,
.no-focus-outline select:focus-visible {
  outline: dashed 1px rgb(110, 110, 110, 0.625);
  background: rgb(110, 110, 110, 0.625);
}

::selection {
  background: rgb(110, 110, 110, 0.575);
}

::-moz-selection {
  background: rgb(110, 110, 110, 0.575);
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
  font-size: small;
}
